ramltests/target/classes/qacinemas-getfilmbyid.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

    <apikit:config name="qacinemas-getfilmbyid-config" raml="qacinemas-getfilmbyid.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="qacinemas-getfilmbyid-main">
        <http:listener config-ref="HTTP_Listener_Configuration_filmid" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="qacinemas-getfilmbyid-config" doc:name="APIkit Router"/>
        <exception-strategy ref="qacinemas-getfilmbyidChoice_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="qacinemas-getfilmbyid-console">
        <http:listener config-ref="HTTP_Listener_Configuration_filmid" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="qacinemas-getfilmbyid-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/getFilms/{byFilmID}:qacinemas-getfilmbyid-config">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT * FROM films WHERE film_id = #[message.inboundProperties.'http.uri.params'.byFilmID];]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\list_map_5.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map {
	film_ID: $.film_id,
	film: $.film_name,
	genre: $.film_genre
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload + &quot; and the ID that was captured is: &quot; + message.inboundProperties.'http.uri.params'.byFilmID]" level="INFO" doc:name="Logger"/>

    </flow>
    <choice-exception-strategy name="qacinemas-getfilmbyidChoice_Exception_Strategy">
        <catch-exception-strategy when="#[exception.causeMatches(&quot;org.mule.module.apikit.exception.InvalidUriParameterException&quot;)]" doc:name="InvalidInputTypeException-NotInteger">
            <set-payload value="NOT A VALID INPUT TYPE, IT SHOULD BE OF AN INTEGER TYPE AND ERROR IS: #[exception]" doc:name="Set Payload"/>
            <set-property propertyName="http.status" value="400" doc:name="Property"/>
            <logger message="#[&quot;INVALID INPUT TYPE AND PAYLOAD IS: &quot; + payload]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
        <catch-exception-strategy doc:name="Catch Exception Strategy" when="#[exception.causeMatches(&quot;org.mule.module.apikit.exception.MethodNotAllowedException&quot;)]">
            <set-payload value="NO INPUT ENTERED AND ERROR IS: #[exception]" doc:name="Set Payload"/>
            <set-property propertyName="http.status" value="405" doc:name="Property"/>
            <logger message="#[&quot;NO INPUT and the payload is: &quot; + payload]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
        <catch-exception-strategy  doc:name="CatchAllException-OtherBadRequests">
            <set-payload value="OTHER EXCEPTIONS AND ERROR IS: #[exception]" doc:name="Set Payload"/>
            <set-property propertyName="http.status" value="500" doc:name="Property"/>
            <logger message="#[&quot;OTHER BAD REQUESTS and the payload is: &quot; + payload]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </choice-exception-strategy>

    <apikit:mapping-exception-strategy name="qacinemas-getfilmbyid-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

</mule>
